# Node.js
node_modules/
npm-debug.log

# React
build/
dist/

# React Native
android/
ios/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db

# IDEs
.idea/
.vscode/
.sublime-project
.sublime-workspace
.project
.classpath
.settings/
*.iml
*.ipr
*.iws
.metadata/
*.log
nb-configuration.xml

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg/
*.egg-info/

# Virtual Environments
env/
venv/

# Java
*.class

# TypeScript
*.tsbuildinfo

# JavaScript
*.js

# MongoDB
data/
dump/
log/

# SQL
*.sql
*.sqlite
*.db

# Miscellaneous
log/
*.log
*.bak
*.swp
*.tmp

# Ignore global npm packages (not recommended)
/usr/
/lib/
/node/

# Ignore compiled JavaScript or TypeScript
*.js
*.js.map
*.ts
*.ts.map
