/* Variables for the installation */
:root {
	--colorscheme-blue: #003049;
	--colorscheme-red: #BE2323;
	/* --colorscheme-red: #CF2626; */
	/* --colorscheme-red: #d62828; */
	--colorscheme-orange: #f77f00;
	--colorscheme-yellow: #fcbf49;
	--colorscheme-sand: #eae2b7;
	--colorscheme-grey: #f5f5f5;
	--colorscheme-total: #662400;
	--colorscheme-left1: #4D396C;
	--colorscheme-left2: #B42A52;
	--colorscheme-sand-light: rgb(254, 250, 239);
}

/* Global styles for the installation */
body {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--colorscheme-sand-light);
	/* font-family: 'Poppins-Light', sans-serif; */
	/* Additional global styles can be added here */
	margin: 0 0;
}

#main {
	padding-left: 6%;
	padding-right: 6%;
	/* font-size: 0.8vw; */
}

.hover-tooltip {
	text-align: center;
	width: auto;
	height: 20px;
	/* padding: 5px; */
	font: 15px sans-serif;
	border-radius: 8px;
	pointer-events: none;

	position: absolute;
	opacity: 0;
	pointer-events: none;
	background-color: #fff;
	border: 1px solid #000;
	padding: 10px;
}
